<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
    <h1>Edit Budget</h1>

    <form method="post">
        <div class="item-text"> <h3>Plan Name: {{name}}</h3><input name = "new_plan_name" placeholder="New Plan Name"></div> 
         <div class="item-text"> <h3>Start Date: {{start}}</h3> 
         <input name = "new_start_date" placeholder="New Start Date" type="date"></div> 
        <div class="item-text"> <h3>End Date: {{end}}</h3> 
        <input name = "new_end_date" placeholder="New End Date" type="date"></div>
        <div class="item-text"> <h3>Total Spent: {{total}}</h3></div>
        <br>
        {{#each category}}
                <li> {{! List item }}
                    <h4>Name:</h4> <div class="item-text"> {{this.name}} </div>
                    <input name = "new_cat_name" placeholder="New Category Name">
                    <h4>Budgeted:</h4><div class="item-text"> {{this.budgeted}} </div>
                    <input name = "new_budget" placeholder="New Budget" type = "number" step = "any">
                   <h4>Spent:</h4><div class="item-text"> {{this.spent}} </div>
                    <input name = "new_spent" placeholder="New Spent" type = "number" step = "any">
                    <button type = "submit" name = "editCategory" value = "{{this.name}}">
                        Update            
                    </button>
                    <button type = "submit" name = "deleteCategory" value = "{{this.name}}">
                        Delete            
                    </button>
                </li>
        {{/each}}
        <input name = "CategoryName" placeholder="Category Name">
        <input name = "Budgeted" placeholder="Amount Budgeted" type="number" step = "any">
        <input name = "Spent" placeholder="Amount Spent"  type="number" step = "any">
        <input name = "addCategory" type= "submit" value = "Add Category">
        <br>
        <button type="submit" name="saveChanges">
            Save Changes
        </button>
    </form>
</body>


<style>

    ul {
        padding: 0;
    }

    li {
        list-style-type: none;
        width: 100%;
        display: flex;
        box-shadow: 0 0 10px #eee;
        background-color: white;
        margin-bottom: 5px;
        border: 1px solid #eee;

        transition: all 100ms; /*properties and time*/
    }

    li:hover { /*applies to li on hover action*/
        transform: scale(1.05);
    }

    li button { /*element within element*/
        background-color: rgb(12, 12, 12);
        color: white;
        border: 0;
        outline: 0;
        margin: 5px;
        width: 100px;
        cursor: pointer;
    }

    .item-text { /*dot denotes class*/
        /*width: 50%;*/
        margin-top: 10px;
        /*padding: 10px;*/
        font-size:Large;
        font-weight: bold;
    }

    h4 {
        margin-left: 15px;

    }
   
   li input {
       margin-top: 10px;
        margin-right: 30px;
        height: 30px;
   }
   li .item-text {
       color: rgb(87, 81, 81);
   }
   

</style>
</html>