{{!-- <h1>{{title}}</h1>
<p> hi friends  </p> --}}

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
    <h1>Budgets</h1>
    <h2>Your Budgets</h2>

    <form method="post">
        <ul> {{! Unordered list }}
            {{#each items}}
                <li> {{! List item }}
                    <div class="item-text"> {{this}} </div>

                    <button type="submit" name="view" value="{{this}}">
                        View
                    </button>

                    {{#if ../viewPending}}
                        <button type="submit" name="accept" value="{{this}}">
                            Accept
                        </button>
                    
                    {{else}}
                        <button type="submit" name="edit" value="{{this}}">
                            Edit
                        </button>
                    {{/if}}

                    <button type="submit" name="delete" value="{{this}}">
                        Delete
                    </button>

                    {{#unless ../user}}
                        <button onclick="sendIt()" type="submit" name="send" value="{{this}}" >
                            Send plan
                        </button>
                    {{/unless}}
                </li> 
            {{/each}}
        </ul>
    </form>
</body>

<script>
   
    async function sendIt(req, res){
        var person = prompt("Please enter username", "Username");
        console.log(person)

        await fetch('/test/'+person, { method: 'GET' });
    }
</script>
</html>