{{!-- <h1>{{title}}</h1>
<p> hi friends  </p> --}}

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
    <h1>Budgets</h1>
    <h2>Your Budgets</h2>

    <form method="post">
        <ul> {{! Unordered list }}
            {{#each items}}
                <li> {{! List item }}
                    <div class="item-text"> {{this}} </div>
                    <button type="submit" name="view" value="{{this}}">
                        View
                    </button>
                    <button type="submit" name="edit" value="{{this}}">
                        Edit
                    </button>
                    <button type="submit" name="delete" value="{{this}}">
                        Delete
                    </button>
                    {{#if true}}
                        <button onclick="sendIt()" type="submit" name="send" value="{{this}}" >
                            Send plan
                        </button>
                    {{/if}}
                </li> 
            {{/each}}
        </ul>
    </form>
</body>

<script>
    async function deleteProfile() {
        if (confirm('Are you sure?')) {
            var res = await fetch('/deleteProfile/'+'{{username}}', { method: 'DELETE' });
            if(res.status == 200){
                res = await fetch('/logout', { method: 'GET' });
                if(res.status == 200){
                    location.reload();
                }
            }
        }
    }
    async function sendIt(){
        confirm('Are you sure?')
        console.log("SEND IT BAYBEE")
    }
</script>
</html>